compile_commands.json
.qmlls.ini

.stignore
build/
.cache/

packaging/android/.classpath
packaging/android/.project
packaging/android/.settings/

packaging/android/.gradle/
packaging/android/build/
packaging/android/local.properties

packaging/android/bin/

packaging/android/jdtls_libs/

packaging/android/assets
packaging/android/libs
packaging/android/include
